  html,
  body {
      margin: 0;
      padding: 0;
      height: 100%;
      scroll-behavior: smooth;
      overflow-x: hidden;
  }

  body {
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
  }

  section {
      width: 100vw;
      height: 100vh;
      scroll-snap-align: start;
  }


  /* SECCION 1 */
  .seccion-principal {
      position: relative;
  }

  .texture {
      background-image: url("imagenes/textura.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top left;
  }


  /* SECCION 2*/
  .seccion-ubicacion {
      background-color: #ffd7df;
  }


  /* SECCION 3 */
  .seccion-dos {
      background-color: #ffffff;
  }

  .texture-dos {
      background-image: url("imagenes/textura-2.1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top left;
  }
















  /* Mo침os */
  .mo침o {
      position: absolute;
      max-width: 350px;
  }

  .mo침o-izq-top {
      top: 40px;
      left: 60px;
  }

  .mo침o-der-top {
      top: 40px;
      right: 60px;
  }

  .mo침o-izq-bottom {
      display: none;
      bottom: 40px;
      right: 40px;
  }

  /* Contenido central */
  .contenido {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
  }

  .label-birthday {
      max-width: 500px;
  }

  .pastel {
      max-width: 220px;
  }

  .label-name {
      max-width: 420px;
  }



  /* ========================= */
  /* 游님 VERSION CELULAR */
  /* ========================= */
  @media (max-width: 768px) {

      /* Ocultamos mo침o extra */
      .mo침o-der-top {
          display: none;
      }

      .mo침o-izq-top {
          top: 20px;
          left: 20px;
          max-width: 160px;
      }

      .mo침o-izq-bottom {
          display: block;
          bottom: 20px;
          right: 20px;
          max-width: 160px;
      }

      .contenido {
          width: 80%;
          gap: 20px;
      }

      .label-birthday {
          max-width: 100%;
      }

      .pastel {
          max-width: 180px;
      }

      /* En m칩vil NO se ve en la imagen,
       pero S칈 va */
      .label-name {
          max-width: 100%;
      }

  }








  @keyframes entradaSuave {
      0% {
          opacity: 0;
          transform: translateY(30px) scale(0.95);
          filter: blur(5px);
          visibility: hidden;
      }

      100% {
          opacity: 1;
          transform: translateY(0) scale(1);
          filter: blur(0);
          visibility: visible;
      }
  }

  .entrada {
      opacity: 0;
  }

  .animar {
      animation: entradaSuave 1.2s ease-out forwards;
  }





  /* ======== A N I M A C I O N  F L E C H A ==============00*/
  .flecha-scroll {
      position: absolute;
      left: 50%;
      bottom: 35px;
      transform: translateX(-50%);
      animation: parpadeo 1.6s ease-in-out infinite;
      pointer-events: none;
  }

  .flecha-scroll svg {
      fill: rgba(255, 255, 255, 0.721);
  }

  /* Animaci칩n */
  @keyframes parpadeo {
      0% {
          opacity: 0;
          transform: translateX(-50%) translateY(0);
      }

      50% {
          opacity: 1;
          transform: translateX(-50%) translateY(8px);
      }

      100% {
          opacity: 0;
          transform: translateX(-50%) translateY(0);
      }
  }














  .seccion-ubicacion {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  /* Franjas */
  .location-banner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .top {
      height: 15%;
  }

  .top2 {
      height: 11%;
  }

  .location-banner img {
      width: 40%;
      display: block;
  }

  .location-banner.top2 img {
      width: 11%;

  }

  /* Mapa */
  .map-container {
      width: 100%;
      max-width: 1100px;
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      position: relative;
  }

  .map-container iframe {
      width: 100%;
      height: 300px;
      border: none;
  }

  /* Bot칩n */
  .map-button {
      display: inline-block;
      position: absolute;
      bottom: 40px;
      padding: 14px 28px;
      background-color: #ffc8c8;
      color: #371414;
      text-decoration: none;
      font-weight: 600;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border-radius: 999px;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .map-button:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }




  @media (max-width: 768px) {
      .map-container iframe {
          height: 300px;
      }

      .location-banner img {
          width: 80%;
      }

      .location-banner.top2 img {
          width: 20%;

      }

      /*
      .map-container iframe {
          height: 450px;
      }*/

  }















  .seccion-dos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      text-align: center;
      position: relative;
  }


  .message-banner {
      max-width: 700px;
  }

  /* Imagen */
  .img-confirmacion {
      width: 90%;
      height: auto;
  }


  /* Bot칩n WhatsApp */
  .btn-whatsapp {
      background-color: #f6b1c3;
      color: #fff;
      text-decoration: none;
      padding: 14px 28px;
      border-radius: 40px;
      font-size: 1.1rem;
      font-weight: 600;
      transition: transform 0.25s ease, box-shadow 0.25s ease;
      box-shadow: 0 8px 20px rgba(246, 177, 195, 0.45);
      margin-bottom: 40px;
  }

  .btn-whatsapp:hover {
      transform: translateY(-3px);
      box-shadow: 0 12px 28px rgba(246, 177, 195, 0.6);
  }

  .snoopy {
      /*position: absolute;
    top: 20px;
    right: 30px;*/
      width: 120px;
  }

  .snoopy img {
      width: 90%;
      object-fit: contain;
  }





  #falta {
      font-size: 4em;
      color: #e97088;
      padding-bottom: 0px;
      padding-top: 0px;
      font-family: 'Alice', 'Times New Roman', Times, serif;
  }


  /* Contador */
  .contador {
      font-weight: 700;
      letter-spacing: 4px;
      color: #de7079;
      font-family: 'Alice', 'Times New Roman', Times, serif;


      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
  }

  .unidad {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .numero {
      font-size: 6rem;
      font-weight: bold;
  }

  .label {
      font-size: 1.45rem;
      color: #de7079;
      margin-top: 2px;
      text-transform: lowercase;
  }

  .separador {
      font-size: 2em;
      font-weight: bold;
      color: #de7079;
      margin: 0 4px;
  }

  @media (max-width: 768px) {

  .numero {
      font-size: 3rem;
  }

    .label {
      font-size: 0.7rem;
  }

  }