  html,
  body {
      margin: 0;
      padding: 0;
      height: 100%;
      scroll-behavior: smooth;
      overflow-x: hidden;
  }

  body {
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
  }

  section {
      width: 100vw;
      height: 100vh;
      scroll-snap-align: start;
  }


  /* SECCION 1 */
  .seccion-principal {
      position: relative;
  }

  .texture {
      background-image: url("imagenes/textura.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top left;
  }


  /* SECCION 2*/
  .seccion-ubicacion {
      background-color: #f57d93;
  }


  /* SECCION 3 */
  .seccion-dos {
      background-color: #debdc3;
  }

















  /* Mo침os */
  .mo침o {
      position: absolute;
      max-width: 350px;
  }

  .mo침o-izq-top {
      top: 40px;
      left: 60px;
  }

  .mo침o-der-top {
      top: 40px;
      right: 60px;
  }

  .mo침o-izq-bottom {
      display: none;
      bottom: 40px;
      right: 40px;
  }

  /* Contenido central */
  .contenido {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
  }

  .label-birthday {
      max-width: 500px;
  }

  .pastel {
      max-width: 220px;
  }

  .label-name {
      max-width: 420px;
  }



  /* ========================= */
  /* 游님 VERSION CELULAR */
  /* ========================= */
  @media (max-width: 768px) {

      /* Ocultamos mo침o extra */
      .mo침o-der-top {
          display: none;
      }

      .mo침o-izq-top {
          top: 20px;
          left: 20px;
          max-width: 160px;
      }

      .mo침o-izq-bottom {
          display: block;
          bottom: 20px;
          right: 20px;
          max-width: 160px;
      }

      .contenido {
          width: 80%;
          gap: 20px;
      }

      .label-birthday {
          max-width: 100%;
      }

      .pastel {
          max-width: 180px;
      }

      /* En m칩vil NO se ve en la imagen,
       pero S칈 va */
      .label-name {
          max-width: 100%;
      }

  }








  @keyframes entradaSuave {
      0% {
          opacity: 0;
          transform: translateY(30px) scale(0.95);
          filter: blur(5px);
          visibility: hidden;
      }

      100% {
          opacity: 1;
          transform: translateY(0) scale(1);
          filter: blur(0);
          visibility: visible;
      }
  }

  .entrada {
      opacity: 0;
  }

  .animar {
      animation: entradaSuave 1.2s ease-out forwards;
  }












  .seccion-ubicacion {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  /* Franjas */
  .location-banner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .top {
      height: 15%;
  }

  .top2 {
      height: 12%;
  }

  .location-banner img {
      width: 50%;
      display: block;
  }

  /* Mapa */
  .map-container {
      width: 100%;
      max-width: 1100px;
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      position: relative;
  }

  .map-container iframe {
      width: 100%;
      height: 450px;
      border: none;
  }

  /* Bot칩n */
  .map-button {
      display: inline-block;
      position: absolute;
      bottom: 40px;
      padding: 14px 28px;
      background-color: #ffc8c8;
      color: #371414;
      text-decoration: none;
      font-weight: 600;
      border-radius: 999px;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .map-button:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }


  @media (max-width: 768px) {
      .map-container iframe {
          height: 300px;
      }

      .location-banner img {
          width: 80%;
      }

      .location-banner.top2 img {
          width: 25%;
          
      }

  }








.btn-whatsapp {
    display: inline-block;
    padding: 14px 22px;
    background-color: #25D366;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-whatsapp:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}







